@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

.header form {
  margin: 0!important;
  padding: 0!important;
  width: 100%;
}
.header form ._form_element {
  margin-bottom: 8px!important;
}
.header form button._submit {
  font-family: 'Inter', sans-serif!important;
  width: 100%;
  font-weight: bold!important;
  letter-spacing: 1px;
  padding: 12px!important;
  border-radius: 12px!important;
  background: #f60500!important;
}
@media (max-width: 450px) {
  .header form button {
    font-size: 14px!important;
    font-weight: bold;
    padding: 0
  }
  .header form input {
    background: transparent;
    border: 1px solid #cacaca!important;
    outline: none;
    color: rgba(255, 255, 255, .4)!important;
    padding: 12px!important;
    border-radius: 6px!important;
  }
  ._checkbox-radio {
    margin-bottom: 0!important
  }
}